@tailwind base;
@tailwind components;
@tailwind utilities;

.login-left-side{
background-image: url("./assets/LoginBackground.png");
background-position: center;
background-repeat: repeat;
background-size: cover;
}